<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:include filename="$(find widowx_arm_description)/urdf/common_colours.xacro"/>

	<xacro:macro name="material_yellow">
		<material name="">
			<color rgba="${color_yellow}"/>
		</material>
	</xacro:macro>

	<xacro:macro name="material_white">
		<material name="">
			<color rgba="${color_white}"/>
		</material>
	</xacro:macro>

	<xacro:macro name="material_black">
		<material name="">
			<color rgba="${color_black}"/>
		</material>
	</xacro:macro>

	<xacro:macro name="material_grey">
		<material name="">
			<color rgba="${color_grey}"/>
		</material>
	</xacro:macro>

	<xacro:macro name="material_greyish">
		<material name="">
			<color rgba="${color_greyish}"/>
		</material>
	</xacro:macro>

</robot>
